*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 39.36px;
    line-height: 46.64px;
    color: #2B2B2B;
    width: 398.3px;
    height: 94px;

}
.h2{
    font-family: 'Roboto', sans-serif;
    font-style: regular;
    font-size: 12.59px;
    line-height: 15px;
    color: #5A5A5A;
    vertical-align: top;
    width: 435.3px;
    height: 28.34px;

}