/*Viết code css trong file này */

/* chọn tất cả thẻ h1 trên trang web */
h1{
   color:red;
}
p{
    color:green;
}

/*chọn thẻ nào mà có id="speacial heading" */
#special-heading{
    color:orange;
}

.text-blue{
    color:blue;
}


/* (0,0,0) */
*{
    color:chocolate;
}

/*(0,0,1)*/
div{
    color:blueviolet!important;
}

/*(0,1,0)*/
.text-brown{
    color:brown ;
}

/*(1,0,0)*/
#my-div{
    color:pink;
}

/* Những thuộc tính - giá trí => định dạng text */
#test-text{
    font-size:medium; /* cỡ chữ */
    font-style:italic; /* kiểu chữ */
    text-decoration:line-through; /* trang trí cho chữ */
    font-family:Arial;
    text-transform:uppercase; /* biến đổi chữ */
}

/* Những thuộc tính - giá trị => định dạng khối nội dung (Box model) */
#my-box{
    background-color:antiquewhite;
    width: 50%;
    height: 170px;

    border: 10px solid;
    border-radius: 10px; /*bo viền */

    padding:30px; /* khoảng cách từ viền trái đến chữ */
    box-sizing: border-box
}
